{
    "port": 55555,
    "ldap_url": "example.com",
    "ldap_admin": "cn=admin,dc=example,dc=gr",
    "ldap_password": "passwd",
    "ldap_base_dn": "ou=users,dc=example,dc=gr",
    "snf_auth_url": "https://astakos.synnefo.live/astakos/identity/v2.0",
    "snf_admin_token": "mytoken",
    "snf_ca_certs": "/etc/ssl/certs/synnefo_ca.pem",
    "vo_projects": "/etc/astavoms/vo_projects.json"
}
